
.view__back(ng-click="addCompany.back()" ng-if="addCompany.showBack()")
	span.fal.fa-angle-left
	|  Atrás

.progress
	.progress__bar(style="width:{{addCompany.currentStep*100/addCompany.qSteps}}%;")




section(ng-if="!addCompany.currentStep && !addCompany.forms.sii.status")
	.section__wrap.section__wrap--md
		//h2.section__title Asociar empresa
		p.section__logo
			img(src="img/logo-sii.png")
		p.section__description Ingresa los datos de acceso de tu empresa al Servicio de Impuestos Internos.
		form-auto(form="addCompany.forms.sii")

section.section--center(ng-if="!addCompany.currentStep && addCompany.forms.sii.status=='importing'")
	.section__wrap.section__wrap--md
		h4 Un momento por favor
		p: loader
		p Estamos validando la información de tu empresa con el Servicio de Impuestos Internos.

section(ng-if="!addCompany.currentStep && addCompany.forms.sii.status=='ready'")
	.section__wrap.section__wrap--md
		h3.section__title ¡Bien! estos son los datos de tu empresa
		//p Aumenta las posibilidades de negocio con el Estado completando el perfil de tu empresa.

		.section__box
			ul.section__list
				li <strong>Razón social</strong> Sociedad Hermanos Álvarez Limitada
				li <strong>RUT</strong>  76.000.090-0
				li <strong>Dirección</strong> Estoril 200, of 1o21. Las Condes, RM.
			a.btn(ng-click="addCompany.go(1)") Asociar empresa 
				span.fal.fa-angle-right

		.section__box
			ul.section__list
				li <strong>Razón social</strong> Forest Company ltda
				li <strong>RUT</strong>  76.126.233-0
				li <strong>Dirección</strong> Antonio Matta 1315, Concepción, Región del Bio Bio.
			a.btn(ng-click="addCompany.go(1)") Asociar empresa 
				span.fal.fa-angle-right

section(ng-if="addCompany.currentStep==1")
	.section__wrap.section__wrap--md
		p.section__stepnumber 1/3
		p.section__icon: span.fa.fa-envelope
		h3 Ingresa los datos de contacto de tu empresa
		p Permite que los organismos públicos se contacten contigo.
		//p: a.a--gray.a--classic(ng-click="useMyData('contactdata')") Completar con mis datos personales
		form-auto(form="addCompany.forms.contactdata")

section(ng-if="addCompany.currentStep==2")
	.section__wrap.section__wrap--md
		p.section__stepnumber 2/3
		p.section__icon: span.fa.fa-shopping-cart
		h3 Ingresa el tipo de producto o servicio que ofrece tu empresa
		p Así podremos enviarte las oportunidades de negocio que realmente sean de tu interés.
		form-auto(form="addCompany.forms.product")

//section(ng-if="addCompany.currentStep==3")
	.section__wrap.section__wrap--md
		p.section__stepnumber 3/5
		p.section__icon: span.fa.fa-credit-card
		h3 Ingresa los datos de pago
		p Facilita que los organismos públicos obtengan tus datos de pago.
		p: a.a--gray.a--classic(ng-click="useMyData('payment')") Completar con mis datos personales
		form-auto(form="addCompany.forms.payment")
		p.section__link: a(ng-click="addCompany.go(4)") Lo haré más adelante <span class="fa fa-angle-right"></span>

section(ng-if="addCompany.currentStep==3")
	.section__wrap.section__wrap--md
		p.section__stepnumber 3/3
		p.section__icon: span.fa.fa-globe
		h3 ¿Dónde quieres venderle al Estado?
		p Selecciona los lugares donde están disponibles tus productos o servicios.
		form-auto(form="addCompany.forms.region")
		p.section__link: a(ng-click="addCompany.go(4)") Lo haré más adelante <span class="fa fa-angle-right"></span>

//section(ng-if="addCompany.currentStep==5")
	.section__wrap.section__wrap--md
		p.section__stepnumber 5/5
		p.section__icon: span.fa.fa-link
		h3 Ingresa el sitio web y redes sociales de tu empresa
		p Así conoceremos mejor a tu rubro para darte a conocer oportunidades de negocio.
		form-auto(form="addCompany.forms.social")
		p.section__link: a(ng-click="addCompany.go(6)") Lo haré más adelante <span class="fa fa-angle-right"></span>

section.section--center(ng-if="addCompany.currentStep==4")
	.section__wrap.section__wrap--md
		p.section__icon: span.fa.fa-thumbs-up
		h3 ¡Listo! <br /> Tu empresa ya puede operar dentro de ChileCompra.
		p.section__description Ya puedes utilizar la plataforma con los datos ingresados. Los datos ingresados los puedes actualizar o modificar desde la sección Mi Perfil. 
		p.section__buttons
			a.btn.btn--md.btn--block(ui-sref="pages.dashboard") Ir a mi escritorio 
				span.fal.fa-angle-right

