
.view__back(ng-click="addProduct.back()" ng-if="addProduct.showBack()")
	span.fal.fa-angle-left
	|  Atrás

section(ng-if="!addProduct.success")
	.section__wrap.section__wrap--md
		h2 Agregar producto
		form-auto(form="addProduct")

section.section--center(ng-if="addProduct.success")
	.section__wrap.section__wrap--md
		p.section__icon: span.fa.fa-thumbs-up
		h3 ¡Excelente!
		p.section__description Tu producto ha sido agregado.
