

section(ng-if="documents.available")
	.section__wrap.section__wrap--md

		h2.section__title Gestión de documentos

		article-document(ng-repeat="doc in documents.data" data="doc")

		p: em Si aún no has contratado tu certificación o la quieres renovar, lo puedes hacer desde acá:
		a.btn.btn--border(ui-sref="pages.company-certification") Contratar o renovar certificación


section(ng-if="!documents.success && !documents.available")
	.section__wrap.section__wrap--md

		h2.section__title Gestión de documentos
		p.section__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut quam ultrices, placerat nunc ac, aliquet arcu.

		form-auto(form="documents.form")


section(ng-if="documents.success")
	.section__wrap.section__wrap--md

		h2.section__title ¡Perfecto! tus documentos fueron recepcionados

		article-document(ng-repeat="doc in documents.data" data="doc")

		p: em Si aún no has contratado tu certificación o la quieres renovar, lo puedes hacer desde acá:
		a.btn.btn--border(ui-sref="pages.company-certification") Contratar o renovar certificación

