
loader.loader--fixed(ng-if="!company")

section.section--center(ng-if="company")
	.section__wrap.section__wrap--md
		.section__avatar
			img(src="img/avatars/logo.png")
		h1.h3.section__title {{company.nombre}}
		p.section__description {{company.razonSocial}}
		p <span class="fal fa-map-marker"></span> {{company.direccion}} <br /> {{company.rut}}
		.section__progress
			em El perfil de tu empresa está al:
			.progresssimple
				.progresssimple__bar(style="width:{{links.getCompletedPercent()}}%;") {{links.getCompletedPercent()}}%

		.section__links
			ul
				li(ng-repeat="link in links.data")
					a(ui-sref="pages.{{link.page}}({{link.params}})")
						span.fal.fa-exclamation-circle(ng-if="!link.completed")
						span.fal.fa-angle-right
						|  {{link.title}}

		a.btn(ui-sref="pages.add-company") Agregar otra empresa <span class="fa fa-angle-right"></span>
