
section
	.section__wrap.section__wrap--lg



		.cols.cols--g-2
			.col-md-4

				.section__filters

					.filters(ng-class="{'filters--show': filters.show, 'filters--hide': !filters.show}")

						.filters__close(ng-click="filters.close()")
							span.fal.fa-times

						h3.filters__title Filtros

						.filters__items

							.filter.filter--search
								.filter__input
									input(type="text" placeholder="¿Que deseas vender?" ng-model="search" ng-model-options="{debounce: 300}" ng-change="changeEntries()")
									.filter__input
										span.fal.fa-search

							.filter
								.filter__name Ordenar por
								.filter__input
									scopebar(options="customScopebarOptions" value="customScopebarValue")

							.filter
								.filter__name Tipos
								.filter__input

									selector(options="customSelectOptions1" value="customSelectValue1" placeholder="Región")

									selector(options="customSelectOptions2" value="customSelectValue2" placeholder="Tipo de licitiación")

									selector(options="customSelectOptions3" value="customSelectValue3" placeholder="Estado")


							.filter
								.filter__name Presupuesto
								.filter__input
									label
										input(type="checkbox")
										|  Publicado
									label
										input(type="checkbox")
										|  No publicado

							.filter
								.filter__name Fecha de publicación
								.filter__input
									form-element(element="{type:'date',name:'date1',range:true,before:'date2'}" form="formFilters")
								.filter__input
									form-element(element="{type:'date',name:'date2',range:true,after:'date1'}" form="formFilters")

							.filter
								button.btn.btn--block Filtrar
								button.btn.btn--block.btn--transparent.btn--xs
									span.fal.fa-trash
									|  Borrar filtros

			.col-md-8

				//h2.section__title Bienvenido Rodrigo!

				.section__search.hide--md
					.section__search__filter(ng-click="filters.open()")
						span.fal.fa-sliders-h
						|  Filtros
					.section__search__input
						input(type="text" placeholder="¿Que deseas vender?" ng-model="search" ng-model-options="{debounce: 300}" ng-change="changeEntries()")
					.section__search__icon
						span.fal.fa-search


				p Existen 20 oportunidades de negocio que coinciden con tu empresa:

				.section__articles(ng-if="showEntries")
					article-entry(ng-repeat="entry in entries" data="entry")

				loader(ng-if="!showEntries")










