
section
	.section__wrap

		h2.section__title Mis licitaciones

		.section__tabs
			ul
				li(ng-click="tab.switch('offerted')" ng-class="{'current': tab.current=='offerted'}") Ofertadas
				li(ng-click="tab.switch('favorited')" ng-class="{'current': tab.current=='favorited'}") Seguidos

		div
			.section__articles(ng-if="tab.current=='offerted'")
				.message
					.fa.fa-exclamation-triangle
					p.h5 Aún no has ofertado en ninguna licitación
					p Encuentra una lictación que se ajuste a tus productos o servicios y oferta.

			.section__articles(ng-if="tab.current=='favorited'")
				article-entry(ng-repeat="entry in entries" data="entry")
