

.view__close(ng-click="entryBack()")
	span.fal.fa-times

section(ng-if="entry")
	.section__wrap.section__wrap--md

		h1.h2.section__title Abastecimiento y Transporte de Agua Potable

		.section__group
			.section__info
				p.section__location <span class="fal fa-map-marker"></span> Santiago
				p ID Licitación: <strong>4295-83-LR18</strong>
				p Entidad solicitante: <strong>Ilustre Municipalidad  de Santiago</strong>
				p.section__time Quedan 15 días para realizar una oferta

		.section__group

			.section__content
				p La presente licitación tiene por objetivo contratar el servicio de abastecimiento y transporte de agua potable para el consumo humano en las distintas localidades de la comuna, cuyos beneficiarios se detallan en los documentos parte integrante de la presente licitación, los que hasta el momento no son cubiertos por la Empresa Sanitaria u otra empresa de servicios sanitarios encargada de abastecer de agua potable en forma continua a la población, o los APR que existen en algunos pueblos agua sacada de pozos o de ríos que es trabajada.

		.section__group
			p Presupuesto disponible:
				br
				span.h3 $1.300.000.000

		.section__group
			p Información de licitación
			.section__items
				.cols.cols--g-05
					.col-xs-4
						.section__item
							p Publicada
							.fal.fa-eye
							p 20/12/2018
					.col-xs-4
						.section__item
							p Cierre
							.fal.fa-ban
							p 21/01/2019
					.col-xs-4
						.section__item
							p Estado
							.fal.fa-check
							p Publicada

		.section__group
			.section__links
				ul
					li: a <span class="fal fa-angle-right"></span> Información de entidad solicitante
					li: a <span class="fal fa-angle-right"></span> Etapas y plazos
					li: a <span class="fal fa-angle-right"></span> Antecedentes para incluir en la oferta
					li: a <span class="fal fa-angle-right"></span> Requisitos para contratar al proveedor adjudicado
					li: a <span class="fal fa-angle-right"></span> Criterios de evaluación
					li: a <span class="fal fa-angle-right"></span> Montos y duración del contrato
					li: a <span class="fal fa-angle-right"></span> Garantías requeridas
					li: a <span class="fal fa-info-circle"></span> <span class="fal fa-angle-right"></span> Tengo dudas respecto a la licitación
					li: a <span class="fal fa-download"></span> <span class="fal fa-angle-right"></span> Descargar licitación

		.section__footer.section__footer--fixed
			.cols.cols--g-05
				.col-xs-6
					button.btn.btn--block.btn--border <span class="fal fa-bookmark"></span> Guardar
				.col-xs-6
					a.btn.btn--block(ui-sref="pages.entry-apply({id:123})") Participar

loader.loader--fixed(ng-if="!entry")

