

.view__close(ng-click="entryBack()")
	span.fal.fa-times

section(ng-if="!form.success")
	.section__wrap

		h1.h2.section__title Ofertar
		p Abastecimiento y Transporte de Agua Potable.

		form-auto(form="form")


section.section--center(ng-if="form.success")
	.section__wrap
		p.section__icon: span.fa.fa-thumbs-up
		h3 ¡Excelente!
		p.section__description Has ofertado correctamente.
		p.section__buttons
			a.btn.btn--md.btn--block(ui-sref="pages.dashboard") Volver al escritorio 
				span.fa.fa-angle-right
