
//header(header="secondary" title="{{form.title}}")

#sections

	section
		.section__wrap.section__wrap--md
			.section__header
				h1.h2.section__title {{form.title}}
				p.section__description {{form.description}}
			.section__form
				form-auto(form="form" ng-if="loadedData")
				.loader(ng-if="!loadedData")

