
section.section--main.section--center
	.section__wrap.section__wrap--md
		h1.section__title Bienvenido al registro oficial de proveedores del Estado
		p.section__description Regístrate y haz negocios con el Estado a través de ChileCompra. Ofrece tus productos y servicios a lo largo de todo Chile.
		p.section__buttons
			a.btn.btn--md.btn--block(ui-sref="pages.signin") Regístrate
			a.btn.btn--md.btn--block.btn--border(ui-sref="pages.login") Iniciar sesión

