
section.section--notifications
	.section__wrap.section__wrap--md

		h2.section__title Configurar notificaciones

		.section__group
			.section__labels
				label
					input(type="checkbox" ng-model="cccc")
					|  No deseo recibir más notificaciones

		.section__group(ng-if="!cccc")

			h4 Plataforma
			.section__labels
				label
					input(type="checkbox" name="1" checked)
					|  Notificaciones en la plataforma 
				label
					input(type="checkbox" name="2" checked)
					|  Notificaciones por email
				label
					input(type="checkbox" name="3")
					|  Notificaciones vía SMS

		.section__group(ng-if="!cccc")
	
			h4 Rango de entrefa
			.section__labels
				label
					input(type="radio" name="4" checked)
					|  Resumen diario de las licitaciones
				label
					input(type="radio" name="4")
					|  Resumen semanal de las publicaciones


		.section__group(ng-if="!cccc")

			h4 Tipo de licitación que deseas recibir

			select
				option Todas las licitaciones


		.section__group
			.btn Guardar

		
