
section
	.section__wrap.section__wrap--md

		h2.section__title Notificaciones
		p
			a.btn.btn--border.btn--block(ui-sref="pages.notifications-config") Configurar notificaciones


		.section__articles

			article.article--notification
				.article__icon
					span.fal.fa-check
				.article__body
					a(href="#") Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit, sed do eiusmod tempor incididunt ut.

			article.article--notification
				.article__icon
					span.fal.fa-check
				.article__body
					a(href="#") <strong>Eiusmod</strong> do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

			article.article--notification
				.article__icon
					span.fal.fa-times
				.article__body
					a(href="#") Incididunt ut labore <strong>consectetur</strong> adipiscing elit

			article.article--notification
				.article__icon
					span.fal.fa-check
				.article__body
					a(href="#") Eiusmod do tempor <strong>incididunt</strong> ut labore et dolore magna aliqua. Ut enim ad minim veniam.


