
section
	.section__wrap


		.section__header
			.row
				.col-xs-12.col-md-6
					h2.section__title Mis productos
				.col-xs-12.col-md-6
					p: a.btn.btn--md.btn--block(ui-sref="pages.add-product") Agregar producto

		.section__message(ng-if="!isAvailableProducts")
			.message
				.fa.fa-info-circle
				p Aún no hay productos agregados

		.section__articles(ng-if="isAvailableProducts")

			article.article--product
				.article__options
					span.fa.fa-ellipsis-h
					.article__options__list
						ul
							li: a(ui-sref="pages.add-product") <span class="fa fa-edit"></span> Editar
							li: a(ui-sref="pages.add-product") <span class="fa fa-trash"></span> Eliminar
				.article__image
				h3.h5.article__title
					a() Vasos de plástico reciclables 200 ml
				p.article__description Producto para eventos
				.article__tags
					span #eventos 
					span #vasos 

			article.article--product
				.article__options
					span.fa.fa-ellipsis-h
					.article__options__list
						ul
							li: a(ui-sref="pages.add-product") <span class="fa fa-edit"></span> Editar
							li: a(ui-sref="pages.add-product") <span class="fa fa-trash"></span> Eliminar
				.article__image
				h3.h5.article__title
					a() Vasos de plástico reciclables 200 ml
				p.article__description Producto para eventos
				.article__tags
					span #eventos 
					span #vasos 

			article.article--product
				.article__options
					span.fa.fa-ellipsis-h
					.article__options__list
						ul
							li: a(ui-sref="pages.add-product") <span class="fa fa-edit"></span> Editar
							li: a(ui-sref="pages.add-product") <span class="fa fa-trash"></span> Eliminar
				.article__image
				h3.h5.article__title
					a() Vasos de plástico reciclables 200 ml
				p.article__description Producto para eventos
				.article__tags
					span #eventos 
					span #vasos 

			article.article--product
				.article__options
					span.fa.fa-ellipsis-h
					.article__options__list
						ul
							li: a(ui-sref="pages.add-product") <span class="fa fa-edit"></span> Editar
							li: a(ui-sref="pages.add-product") <span class="fa fa-trash"></span> Eliminar
				.article__image
				h3.h5.article__title
					a() Vasos de plástico reciclables 200 ml
				p.article__description Producto para eventos
				.article__tags
					span #eventos 
					span #vasos 
