

.view__back(ng-click="signin.back()" ng-if="signin.showBack()")
	span.fal.fa-angle-left
	|  Atrás


section.section--center.section--main(ng-if="!signin.process")
	.section__wrap.section__wrap--md
		h1.section__title Comienza el proceso de registro como proveedor
		p.section__description Selecciona la forma mediante la que deseas registrarte en la plataforma.

		p.section__buttons
			a.btn.btn--md.btn--block(ng-click="signin.start('claveunica')") Clave única
				span.fal.fa-angle-right

			a(ng-click="modal.open('<h3>¿Qué es la Clave única?</h3><p>Es una contraseña única para acceder a todos los servicios del Estado, de manera fácil y segura ya que es como tu carnet de identidad digital.</p><p>Conoce más sobre la clave única en:<br /> <a href=https://claveunica.gob.cl>https://claveunica.gob.cl</a></p>')") <span class="fal fa-info-circle"></span> ¿No sabes qué es la clave única?

		p.section__buttons
			a.btn.btn--md.btn--block.btn--bordercolor(ng-click="signin.start('rut')") Carnet de identidad
				span.fal.fa-angle-right

		hr
		h3.section__title ¿No tienes documento de identidad chileno?
		p.section__buttons
			a.btn.btn--md.btn--block.btn--border(ng-click="signin.start('foreign')") Registro para extranjeros 
				span.fal.fa-angle-right


section(ng-if="signin.process")
	.section__wrap.section__wrap--md

		.sbs

			.sbs__progress

				.sbs__progress__start
					.sbs__progress__point.sbs__progress__point--ready
						.sbs__progress__point__icon: span.fas.fa-circle
						.sbs__progress__point__name Inicio

				.sbs__progress__groups

					.sbs__progress__group(ng-repeat="group in signin.data track by $index")
						.sbs__progress__point(ng-class="{'sbs__progress__point--ready': (signin.current.group>$index-1 && signin.current.step==signin.data[signin.current.group].steps.length-1) || signin.current.group>$index}")
							.sbs__progress__point__icon
								span.fas.fa-minus
								span.fas.fa-check
							.sbs__progress__point__name {{group.title}}

						.sbs__progress__steps
							span(style="width:{{100/group.steps.length*(signin.current.step+1)}}%" ng-if="signin.current.group==$index")
							span(ng-if="signin.current.group>$index")


			.sbs__groups

				.sbs__group(ng-repeat="group in signin.data track by $index" ng-if="$index == signin.current.group")
					.sbs__steps(ng-if="!group.completed")
						.sbs__step(ng-repeat="step in group.steps track by $index" ng-if="$index == signin.current.step" ng-class="{'sbs__step--last': signin.current.step==signin.data[signin.current.group].steps.length-1}")
							h2(ng-if="step.title") {{step.title}}
							p(ng-if="step.description") {{step.description}}
							ul(ng-if="step.list")
								li(ng-repeat="li in step.list") {{li}}
							form-auto(form="step.form" ng-if="step.form")
							button.btn.btn--block(ng-click="signin.next()" ng-if="step.button") <span class="fal fa-angle-right"></span> {{step.button}}



