

.view__close(ng-click="entryBack()")
	span.fal.fa-times

section(ng-if="supplier")
	.section__wrap.section__wrap--md

		.section__header

			.section__avatar
				img(src="img/avatars/logo.png")

			h1.h2.section__title {{supplier.nombre}}
			//p.section__description {{supplier.rut}}
			p.section__location <span class="fal fa-map-marker"></span> {{supplier.direccion}}
			p.section__hability
				span.fa.fa-check
				|  Proveedor habilitado

		.section__features
			.cols
				.col-xs-12
					.section__feature
						.section__feature__value ${{supplier.ventas.total | number}}
						a(ui-sref="pages.supplier-detail({id:supplier.id,detail:'sales'})") Ventas históricas
				.col-xs-6
					.section__feature
						.section__feature__value 100%
						a(ui-sref="pages.supplier-detail({id:supplier.id,detail:'behavior'})") Comportamiento contractual
				//.col-xs-6
					.section__feature
						.section__feature__value 4
						a(ui-sref="pages.supplier-detail({id:supplier.id,detail:'certifications'})") Sellos y certificaciones
				.col-xs-6
					.section__feature
						.section__feature__value 20
						a(ui-sref="pages.supplier-detail({id:supplier.id,detail:'products-cm'})") Productos en convenio marco
				.col-xs-6
					.section__feature
						.section__feature__value Habilitado
						a(ui-sref="pages.supplier-detail({id:supplier.id,detail:'status'})")  Estado de habilidad
				.col-xs-6
					.section__feature
						.section__feature__value 40
						a(ui-sref="pages.supplier-detail({id:supplier.id,detail:'products'})") Productos en catálogo




		ul.section__list
			li <strong>Promedio de recomendaciones</strong>
				.section__rating
					i.fas.fa-star
					i.fas.fa-star
					i.fas.fa-star-half-alt
					i.far.fa-star
					i.far.fa-star
			li <strong>Nombre fantasía</strong> {{supplier.nombre}}
			li <strong>Rut</strong> {{supplier.rut}}
			li <strong>Razón social</strong> {{supplier.razonSocial}}
			li <strong>Giro</strong> {{supplier.giro}}
			li <strong>Descripción</strong> {{supplier.descripcion}}
			li <strong>Tamaño de empresa</strong> Mediana
			li <strong>Inicio de actividades</strong> 1992
			li <strong>Rubro</strong> Consultoría
			li <strong>Categoría</strong> Consultorías

			li
				strong Sellos
				.section__stamps
					.section__stamp
						img(src="img/stamps/sello-propyme.png")
						|  Propyme
					.section__stamp
						img(src="img/stamps/sello-cooperativas.png")
						|  Cooperativas
					.section__stamp
						img(src="img/stamps/sello-certificadomujer.png")
						|  Certificado mujer
					.section__stamp
						img(src="img/stamps/sello-apl.png")
						|  Acuerdo de producción limpia



		.section__links
			ul
				li
					a(ui-sref="pages.supplier-detail({id:supplier.id,detail:'documents'})")
						span.fal.fa-angle-right
						|  Documentos
				li
					a
						span.fal.fa-angle-right
						|  Evaluar proveedor


		.section__footer.section__footer--fixed


			.cols.cols--g-05
				.col-xs-6
					a.btn.btn--block.btn--border(ui-sref="pages.supplier-detail({id:supplier.id, detail:'info'})")  Contactar
				.col-xs-6
					button.btn.btn--block Cotizar

loader.loader--fixed(ng-if="!supplier")


