
section
	.section__wrap.section__wrap--lg


		form.section__search

			.section__search__input
				input(type="text" placeholder="¿Qué necesitas?" ng-model="search.string" ng-model-options="{debounce: 300}" ng-change="changeEntries()")

			.section__search__icon
				span.fal.fa-search

			.section__search__scopebar
				scopebar(options="customScopebarOptions1" value="customScopebarValue1")


		.cols.cols--g-2
			.col-md-4

				.section__filters

					.filters(ng-class="{'filters--show': filters.show}")

						.filters__close(ng-click="filters.close()")
							span.fal.fa-times

						h3.filters__title Filtros

						.filters__items

							.filter
								.filter__name Ordenar por
								.filter__input
									scopebar(options="customScopebarOptions2" value="customScopebarValue2")

							.filter
								.filter__name Tipos
								.filter__input
									selector(options="customSelectOptions1" value="customSelectValue1" placeholder="Región")
									selector(options="customSelectOptions2" value="customSelectValue2" placeholder="Rubro de licitiación")
									selector(options="customSelectOptions3" value="customSelectValue3" placeholder="Categoría")
									selector(options="customSelectOptions1" value="customSelectValue4" placeholder="Tamaño empresa")
									selector(options="customSelectOptions2" value="customSelectValue5" placeholder="Sellos")

							.filter
								.filter__name Estado de habilidad
								.filter__input 
									label
										input(type="checkbox")
										|  Habilitados
									label
										input(type="checkbox")
										|  No habilitados

							.filter
								//button.btn.btn--block Filtrar
								button.btn.btn--block.btn--transparent.btn--xs
									span.fal.fa-trash
									|  Borrar filtros

			.col-md-8

				.section__results

					.section__results__filter
						.btn.btn--border(ng-click="filters.open()")
							span.fal.fa-sliders-h
							|  Filtros

					.section__results__text 20 resultados

					.section__results__articles(ng-if="showEntries")
						article-supplier(ng-repeat="supplier in suppliers" data="supplier")

						button.btn.btn--border.btn--block Cargar más resultados

					loader(ng-if="!showEntries")





//.filterfix
//	.btn.btn--block(ng-click="filters.open()") Filtrar



