

.view__close(ng-click="entryBack()")
	span.fal.fa-times


section(ng-if="supplier")

	section(ng-if="detailSlug=='info'")
		.section__wrap.section__wrap--md

			.section__header
				h1.h2.section__title Datos de contacto
				p: a.btn Publicar sansión
				p.section__description Este proveedor tiene los siguientes datos de contacto:

			ul.section__list
				li <strong>Nombre</strong> {{supplier.persona}}
				li <strong>Email</strong> {{supplier.email}}
				li <strong>Teléfono</strong> {{supplier.telefono}}
				li <strong>Web</strong> {{supplier.web}}


	section(ng-if="detailSlug=='behavior'")
		.section__wrap.section__wrap--md

			.section__header
				h1.h2.section__title Comportamiento contractual
				p.section__description Porcentaje de comportamiento contractual

			.section__donnut
				donnut(value="15" total="20")
				p 69 incumplimientos en 432 procesos.


			h5.section__title Historial de incumplimientos
			.section__box
				ul.section__list
					li 
						strong ID proceso: 
						|  2332-324
					li
						strong Proceso de compra:
						|  Licitación
					li
						strong Identificador comprador
						|  I. Municipalidad de Curicó
					li
						strong Fecha adjudicación
						|  00/00/0000
					li
						strong Incumplimientos
						|  2
				a.btn.btn--bordercolor Ver detalle


			.section__box
				ul.section__list
					li 
						strong ID proceso: 
						|  2332-324
					li
						strong Proceso de compra:
						|  Licitación
					li
						strong Identificador comprador
						|  I. Municipalidad de Curicó
					li
						strong Fecha adjudicación
						|  00/00/0000
					li
						strong Incumplimientos
						|  2
				a.btn.btn--bordercolor Ver detalle




	section(ng-if="detailSlug=='products' || detailSlug=='products-cm'")
		.section__wrap.section__wrap--md

			.section__header
				h1.h2.section__title Productos

			.section__form

				scopebar(options="[{id:1,name:'En convenio marco'},{id:2,name:'En catálogo'}]" value="tabValue")

				selector(options="[{id:1,name:'CM Suministro de Combustibles'},{id:2,name:'LP Alojamiento, Arriendo de espacios y Gastronomía'}]" value="1" ng-if="tabValue==1")



			.section__articles


				article.article--product
					.article__image
					h3.h5.article__title
						a() Vasos de plástico reciclables 200 ml
					p.article__description Producto para eventos
					.article__tags
						span #eventos 
						span #vasos 

				article.article--product
					.article__image
					h3.h5.article__title
						a() Vasos de plástico reciclables 200 ml
					p.article__description Producto para eventos
					.article__tags
						span #eventos 
						span #vasos 

				article.article--product
					.article__image
					h3.h5.article__title
						a() Vasos de plástico reciclables 200 ml
					p.article__description Producto para eventos
					.article__tags
						span #eventos 
						span #vasos 

				article.article--product
					.article__image
					h3.h5.article__title
						a() Vasos de plástico reciclables 200 ml
					p.article__description Producto para eventos
					.article__tags
						span #eventos 
						span #vasos 



	section(ng-if="detailSlug=='status'")
		.section__wrap.section__wrap--md
			.section__header
				h1.h2.section__title Estado de habilidad
				p.section__description El estado de habilidad de este proveedor es el siguiente:
			.section__message
				.message <span class="fal fa-info-circle"></span> Proveedor no habilitado



	section(ng-if="detailSlug=='sales'")
		.section__wrap.section__wrap--md
			.section__header
				h1.h2.section__title Ventas históricas
				p.section__description Montos trazados los últimos 12 meses:
				.h2 ${{supplier.ventas.total | number}}

			.section__chart(ng-if="supplier.ventas")
				chart(
					values="supplier.ventas.detalle.valores"
					labels="supplier.ventas.detalle.leyendas"
					)


	section.section--center(ng-if="detailSlug=='certifications'")
		.section__wrap.section__wrap--md

			.section__header
				h1.h2.section__title Sellos y certificaciones
				p.section__description Este proveedor tiene las siguientes certificaciones:

			.section__stamps
				.section__stamp
					img(src="img/stamps/sello-propyme.png")
					|  Propyme
				.section__stamp
					img(src="img/stamps/sello-cooperativas.png")
					|  Cooperativas
				.section__stamp
					img(src="img/stamps/sello-certificadomujer.png")
					|  Certificado mujer
				.section__stamp
					img(src="img/stamps/sello-apl.png")
					|  Acuerdo de producción limpia




	section(ng-if="detailSlug=='documents'")
		.section__wrap.section__wrap--md

			.section__header
	
				h1.h2.section__title Documentos

				scopebar(options="[{id:1,name:'Todos'},{id:2,name:'Habilidad'},{id:3,name:'Otros'}]" value="docsScopeVal" ng-init="docsScopeVal=1")

			.section__articles
				article-document(ng-repeat="doc in documents" data="doc")



loader.loader--fixed(ng-if="!supplier")


