
section.section--main.section--center
	.section__wrap.section__wrap--md
		.section__header
			h1.section__title Encuentra el proveedor del Estado que necesitas
			p.section__description Ingresa el tipo de producto o servicio que necesitas encontrar.
		form.section__searchform
			span.fal.fa-search
			input(type="text" ng-model="search.string" placeholder="¿Que necesitas?")
			button.btn.btn--block.btn--md(ng-click="search.go()") Buscar proveedor

