include includes/mixins
- RAND = Math.floor(Math.random()*100000);
doctype html
html(lang='es' ng-app="app")
	head
		title Chile Compra - Registro de proveedores

		meta(charset="UTF-8")
		meta(name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(name="theme-color" content="#FF5767")

		link(href='css/main.css?v='+RAND rel='stylesheet' type='text/css')
		script(src='js/main.js?v='+RAND type='text/javascript')

		link(href='https://fonts.googleapis.com/css?family=Rubik:300,400,600' rel='stylesheet')
		link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev" crossorigin="anonymous")

		link(href='img/favicon.ico' rel='shortcut icon')
		//link(href="img/favicon-app.png" rel="icon" sizes="192x192")
		//link(href="img/favicon-app.png" rel="apple-touch-icon")

		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-66919923-10")
		script.

			URL_API = "https://busmicroservicio.azure-api.net/registro-proveedores/v1";

			// Analytic
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-66919923-10');

			// Hotjar
			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:1161509,hjsv:6};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

	body(ng-controller="InitCtrl" class="body--{{state.viewVariant}}")
		include views/root.view.jade


