

article
	position relative
	background $white
	padding 20px
	tap 0
	transition .5s ease
	margin-bottom 20px
	border-radius $rad
	box-shadow $shadow2
	border 1px solid rgba($color,10%)
	
	.article__image
		width 80px
		height @width
		margin-right 20px
		float left
		background $lighter

	.article__like
		padding 8px
		margin-top -10px 
		float right
		opacity .2
		position relative
		z-index 2
		transition .5s ease
		cursor pointer
		&:hover
			opacity .5
		&.article__like--liked
			opacity 1
			color $red
			animation bounce .5s ease

	.article__title
		margin-bottom 10px
		font-weight 400
		a
			display block
			color $dark
			&:after
				content ""
				z-index 1
				cover(absolute)

	
	.article__date
	.article__location
		font-size $global-size-xs
		display inline-block
		margin-right 5px
		color $gray

	.article__btn
		margin-top 10px
	

	.article__options
		position absolute
		top 0
		right 0
		padding 5px 10px
		color $gray
		z-index 2
		.article__options__list
			position absolute
			top 100%
			right -10px
			background white
			box-shadow $shadow, $shadow2
			font-size $global-size-sm
			padding 5px 0
			border-radius $rad
			display none
			animation fadeIn .2s ease
			ul
				margin 0
				list-style-type none
				li
					a
						display block
						padding 5px 15px
						color $gray
						white-space nowrap
						.fa
							margin-right 5px
						&:hover
							background $lighter
							color $color
		&:hover
			.article__options__list
				display block
	
	.article__icon
		float left
		margin-right 15px
		font-size 20px
		color $gray

	.article__links
		a
			color $gray
			display inline-block
			margin-right 15px
			font-size $global-size-sm
			&:last-child
				margin-right 0
			&:hover
				color $color


	&.article--product
		overflow hidden

		.article__title
			margin-bottom 5px

		.article__description
			font-size $global-size-sm
			margin-bottom 5px
			line-height $global-lh-xs
			opacity .8

		.article__tags
			font-size $global-size-xs
			opacity .5
	

	&.article--supplier

		.article__title
			margin-bottom 0

		.article__rut
			margin-bottom 0
			opacity .5

		.article__location
			padding 7px 0
			float right

		.article__hability
			font-weight bold
			font-size $global-size-sm
			margin 10px 0
			span
				vertical-align -6px
				background $lighter
				color $color
				circle 22px
				font-size 80%
				display inline-block
				margin-right 2px
		



	&.article--notification
		margin 0 -30px
		font-size $global-size-sm
		line-height 140%
		margin-bottom 1px
		padding 15px 30px
		box-shadow none
		border 0
		border-radius 0
		border-top 1px solid $lighter
		&:last-child
			border-bottom 1px solid $lighter
		a
			color $dark
		.article__icon
			float left
		.article__body
			overflow hidden
			display block

