
.btn
	position relative
	background $color
	color white
	display inline-block
	padding 8px 20px
	border-radius 30px
	//letter-spacing 1px
	//font-size $global-size-sm
	border 1px solid transparent
	cursor pointer
	line-height $global-lh
	text-align center
	margin-right 5px
	min-width 120px
	tap 0

	&:last-child
		margin-right 0

	&:hover
		background lighten($color,10%)

	&.btn--xs
		font-size $global-size-sm
		padding 5px 15px

	&.btn--sm
		padding 5px 15px

	&.btn--md
		padding 12px 30px

	&.btn--block
		width 100%
		display block
		margin-right 0
		margin-bottom 10px
		&:last-child
			margin-bottom 5px

	&.btn--bordercolor
		border-color $color
		background transparent
		color $color
		&:hover
			background $color
			color white

	&.btn--border
		border-color $light
		background transparent
		color $dark
		&:hover
			border-color $color
			color $color

	&.btn--hover-color
		&:hover
			border-color $color
			background $color
			color $white

	&.btn--transparent
		border-color transparent
		background-color transparent
		color $gray


	&.btn--cover
		position static
		&:after
			content ""
			cover(absolute)

	&[disabled]
		background $lighter
		color $gray
		cursor not-allowed

	.fa, .fal
		vertical-align -1px
		margin-left 5px
	
	&.btn--block
		.fa-angle-right
			float right
			padding 3px 0


