

.chart
	position relative
	font-size 11px
	color $gray
	margin 0 20px 0 100px
	
	.chart__rows
		margin 0 -20px 0 -100px
		.chart__row
			padding-top 20px
			border-bottom 1px solid $lighter

	.chart__cols
		position absolute
		bottom 0
		left 0
		width 100%
		height 100%
		.chart__col
			position absolute
			bottom 0
			left 0
			height 100%
	
	.chart__bar
		background $color
		width 10px
		margin-left -5px
		position absolute
		bottom 0
		left 0
		border-radius 5px
		&:hover
			.chart__tooltip
				display block


	.chart__tooltip
		position absolute
		bottom 100%
		left 0
		background $lighter
		padding 0 5px
		border-radius $rad
		display none
		

	.chart__label
		position absolute
		top 100%
		text-align center
		width 50px
		margin-left -25px
