
.mighty-picker__holder
	text-align center
	position relative
	border 1px solid $light
	padding 10px
	.mighty-picker__prev-month
		position absolute
		top 0
		left 0
		padding 15px 24px
		color $gray
	.mighty-picker__next-month
		position absolute
		top 0
		right 0
		padding 15px 24px
		color $gray

.mighty-picker-calendar
	border-collapse collapse
	
.mighty-picker-calendar__day
	cursor pointer
	position relative
	border 0
	padding 0
	border 0
	margin 0
	padding 5px 0

.mighty-picker__month-name 
	padding 5px 0

.mighty-picker-calendar__day--disabled
	color $gray
	cursor auto

.mighty-picker-calendar__day--in-range
	background $light

.mighty-picker-calendar__day--selected
	background $color
	color white
	font-weight bold

.mighty-picker-calendar__weekday
	padding 5px 0