
.donnut
	max-width 200px
	margin 0 auto
	position relative

	.donnut__value
		position absolute
		left 0
		top 50%
		width 100%
		font-size $title-h2
		text-align center
		margin-top -15px
		animation scaleFadeIn .5s 1.5s ease backwards
