
.filterfix
	position fixed
	padding 0 10px 5px
	bottom 0
	left 0
	width 100%
	
.filters
	@media $break-md-i
		cover(fixed)
		overflow auto
		background white
		z-index $z-index-filters
		padding 20px
		display none
		&.filters--show
			display block
			animation slideUp .5s ease

	.filters__title
		font-weight 300
		@media $break-md
			display none

	.filters__close
		position absolute
		top 0
		right 0
		padding 15px 20px
		opacity .4
		@media $break-md
			display none

.filter
	margin-bottom 20px
	position relative
	&:last-child
		margin-bottom 0

	.filter__name
		font-size $global-size-xxs
		letter-spacing 0.5px
		text-transform uppercase
		//font-weight bold
		margin-bottom 5px
		color $gray

	.filter__input

		select, input
			margin-bottom 10px
			&:last-child
				margin-bottom 0

		label
			display block
			padding 5px 0

	&.filter--search
		display none
		@media $break-md
			display block
		input
			padding-left 40px
		.fal, .fa
			position absolute
			top 0
			left 0
			padding 15px
			color $gray
	
