
footer
	font-size $global-size-sm
	text-align center
	color $gray
	padding-bottom 80px
	@media $break-md
		padding-bottom 0
	&.ng-enter
		animation fadeIn .5s 1s ease backwards
	a
		display inline-block
		padding 5px 0
		color $gray
		&:hover
			color $color
	
	.footer__logo
		width 120px
		margin 0 auto 20px
		

	.footer__wrap
		position relative
		max-width $limit
		margin 0 auto
		padding $global-sep*2 $global-sep*1.5
		@media $break-md
			padding $global-sep*2 $global-sep*2

	.footer__title
		margin-bottom 10px
		font-size $global-size-lg
		font-weight 300
	
	.footer__item
		//margin-bottom 5px
		//&:last-child
		//	margin-bottom 0
	

		&.footer__item--phone
			a
				margin-right 15px
				.fa
					margin-right 2px
	
		&.footer__item--address
			font-size $global-size-sm
			.fa
				margin-right 2px
		

		&.footer__item--social
			margin-left -10px
			a
				padding 5px 10px


