
input
select
textarea
	appearance none
	-webkit-appearance none
	display block
	width 100%
	padding 10px 15px
	border-radius $rad
	placeholder $gray
	background-color transparent
	border 1px solid $light
	tap 0
	&:focus
		border-color $color
		box-shadow 0 0 5px rgba($color,50%)
	&[disabled]
		opacity .5
		cursor not-allowed

textarea
	height 140px

select
	background-image url('../img/icon-select.png')
	background-repeat no-repeat
	background-position 100% 50%

label
	cursor pointer
	tap 0

input[type=checkbox]
input[type=radio]
	width 20px
	height @width
	border-radius $rad
	margin-right 5px
	display inline-block
	vertical-align middle
	margin-top -2px
	padding 0
	border 2px solid $color
	background transparent url('../img/icon-checked.png') 50% -100% no-repeat
	&:checked
		background-position 50% 50%
		background-color $color
		border-color $color

input[type=radio]
	box-shadow 0 0 0 4px white inset
	background-image none
	border-radius 20px
	

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance none 
	margin 0

.form__element
	position relative
	margin-bottom $global-sep
	display block
	animation slideFadeUp .5s ease backwards
	animation-stagger(10, .05s, .25s)

	&:last-child
		margin-bottom 0

	&.ng-leave
		animation fadeOut .25s ease both

	.form__element__validation
		//float right
		font-size $global-size-xs
		color $red

	.form__element__title
		margin-bottom 5px
		position relative
		//font-weight bold
		text-transform uppercase
		letter-spacing 0.5px
		font-size $global-size-xxs
		color $gray

	.form__element__required
		color $color
		display none
	
	.form__element__modallink
		margin-left 5px
		display inline-block
		color $gray
		cursor pointer
		&:after
			content ""
			cover(absolute)

	.form__element__input
		position relative
		//overflow hidden

		.form__element__label
			display block
			padding 10px 0
			&:last-child
				border-bottom 0
			input
				margin-right 10px
				//border-width 1px
				float left
				margin-top 1px
				margin-bottom 5px
			em
				display block
				overflow hidden
				font-size $global-size-xs
				line-height $global-lh-xs
				color $gray
			&.label--disabled
				opacity .5

		.form__element__input__append
		.form__element__input__capture
			position absolute
			top 0
			right 0
			text-align center
			border-left 1px solid $light
			padding 11px 10px

		.form__element__input__capture
			padding 5px 10px
			white-space nowrap
		
		.form__element__input__info
			margin-top 5px
			color $gray
			font-size $global-size-xs


	&.form__element--divider
		background $light
		padding-top 0
		padding-bottom 0
		height 10px

	&.form__element--phone
		input
			padding-left 80px

	&.form__element--50
		width 45%
		margin-right 5%
		display inline-block
		&:last-of-type
			margin-right 0
	
	&.form__element--xs
		width 20%
		margin-right 5%
		display inline-block
		&:last-of-type
			margin-right 0

	&:last-child
		border-bottom 0


	.form__message
		padding 15px 20px
		background-color $lighter
		text-align center
		border-radius $rad
		&.ng-enter
			animation heightSmIn .5s ease
		&.ng-leave
			animation heightSmOut .5s ease

		ul
			border 1px solid rgba(0,0,0,.1)
			font-size $global-size-xxs
			padding 10px
			margin-top 5px
			line-height $global-lh-xs



	.form__element__file
		margin-bottom 20px
		input
			display block
			padding 40px 10px
			width 100%
			opacity 0
			z-index 2
			position relative
			cursor pointer
		.btn
			padding 40px 10px
			border-radius $rad
		.form__element__file__input
			position absolute
			top 0
			left 0
			width 100%

	.form__file
		position relative
		//display inline-block

		.form__file__icon
			a,i
				text-align center
				font-size 20px
				border-radius $rad
				background $light
				display block
				padding 40px 30px
				color $gray

		.form__file__preview
			border-radius 0
			border 2px solid $light
			margin 20px auto
			padding 10px
			position relative
			img
				max-height 200px
				max-width 400px
				
			&.form__file__preview--3 img
				transform rotate(180deg)
			&.form__file__preview--8 img
				transform rotate(-90deg)
			&.form__file__preview--6 img
				transform rotate(90deg)

		.form__file__remove
			position absolute
			top 0
			right 0
			padding 5px 10px
			cursor pointer
			opacity .4
			&:hover
				cursor pointer
				opacity 1


	.form__submit
		padding-top 15px
		//@media $break-md
		//	width 50%
		.btn[disabled]
			color transparent

	.form__loader
		cover(absolute)
		padding 20px 0

	.form__success
		cover(absolute)
		text-align center
		padding 30px 20px
		&.ng-enter
			animation scaleFadeIn .5s ease
		.fa
			font-size 20px
			color $color
		


	.form__element__code
		text-align center
		display flex
		margin 0 -5px
		input
			font-size 20px
			text-align center
			width 25%
			margin 0 5px

	.form__element__counter
		text-align right
		color $gray
		font-size $global-size-xs


	.form__element__eye
		position absolute
		top 0
		right 0
		padding 10px 20px
		transition .2s ease
		opacity 1
		color $gray
		&.active
			opacity .25


	.form__element__prefix
		position absolute
		top 1px
		left 0
		border-right 1px solid $light
		padding 10px 15px
		//color $gray
		//background white
		margin-right -2px
		border-radius $rad 0 0 $rad
		z-index 1
		color $gray


	.form__element__explain
		margin-top 5px
		color $color
		font-size $global-size-xs
		cursor pointer
		.fa
			margin-right 2px

	.form__element__description
		font-size $global-size-xs
		color $gray
		padding-top 5px


	.form__element__datepicker
		position relative

		.form__element__datepicker__bg
			cover(fixed)
			background $gray
			opacity .25
			&.ng-enter
				animation fadeIn .25s
			&.ng-leave
				animation fadeOut .2s both

		.form__element__datepicker__input
			padding 10px 15px
			border-radius $rad
			background white
			border 1px solid $light
			position relative

		.form__element__datepicker__mighty
			background white
			position relative
			&.ng-enter
				animation fadeIn .25s

		&.form__element__datepicker--opened
			z-index 4
			.form__element__datepicker__input
				border-color $color
				box-shadow 0 0 5px rgba($color,50%)
		
		&.form__element__datepicker--range
			.form__element__prefix
				width 75px

			.form__element__datepicker__input
				padding-left 90px


