
body.body--fullscreen
	header
		@media $break-md-i
			transform translate(0,-100%)


header
	position fixed
	top 0
	left 0
	width 100%
	background $white
	height $header-height
	line-height $header-height - 2
	z-index $z-index-header
	box-shadow $shadow
	color $gray
	font-family $font-title
	font-size $global-size-xs
	transition .5s ease
	@media $break-md
		font-size $global-size-sm
		position fixed
		height $header-height-md
		line-height $header-height-md - 2

	&.header--center
		text-align center

	.header__wrap
		position relative
		max-width $limit
		margin 0 auto
		padding 0 $global-sep*1.5
		@media $break-md
			padding 0 $global-sep*2


	.header__item
		display inline-block
		vertical-align middle
		animation fadeIn .5s ease
		//border-left 1px solid $lighter
		//padding 0 20px
		tap 0
		margin-right 20px

		&:last-child
			margin-right 0

		&.header__item--left
			float left

		&.header__item--right
			float right
		

	.header__logo
		width 100px
		@media $break-md
			width 140px


	.header__user
		animation fadeIn 1s ease
		cursor pointer
		transition .2s ease

		.header__user__avatar
			display inline-block
			vertical-align middle
			circle 30px
			margin-right 5px
		
		.header__user__company
			display inline-block
			vertical-align middle
			margin-right 5px
			text-overflow ellipsis
			max-width 110px
			
		.header__user__icon
			display inline-block
			vertical-align middle
		
		&:hover
			color $color


	.header__links
		display none
		@media $break-lg
			display inline-block
		ul
			margin 0
			li
				display inline-block
				a
					display inline-block
					padding 0 12px
					color $gray
					&:hover
						color $blue
					.fal
						margin-right 5px



