
.hide--xs
	@media $break-xs
		display none

.hide--sm
	@media $break-sm
		display none

.hide--md
	@media $break-md
		display none

.hide--lg
	@media $break-lg
		display none


.show--xs
	@media $break-xs-i
		display none

.show--sm
	@media $break-sm-i
		display none

.show--md
	@media $break-md-i
		display none

.show--lg
	@media $break-lg-i
		display none




