
@keyframes loaderCircleAn
	25%
		transform scale(0)
	50%
		transform scale(1)


.loader
	position relative
	z-index $z-index-loader
	animation fadeIn .5s ease
	padding 8px 0
	&.ng-leave
		animation fadeOut .5s ease both

	.loader__box
		width 50px
		height 25px
		margin 0 auto

	.loader__circle
		circle 8px
		margin 0 1px
		background $gray
		display inline-block
		animation loaderCircleAn 2s ease infinite
		&:nth-child(2)
			animation-delay 0.2s
		&:nth-child(3)
			animation-delay 0.4s

	&.loader--sm
		.loader__box
			width 20px
			height @width

	&.loader--fixed
		cover(fixed)
		padding 0
		.loader__box
			position absolute
			top 50%
			left 50%
			margin-top -12.5px
			margin-left -25px


