
.modal
	cover(fixed)
	z-index $z-index-modal
	display table

	&.ng-enter
		animation fadeIn .5s ease
		.modal__box
			animation scaleFadeIn .3s .2s ease backwards

	&.ng-leave
		animation fadeOut .2s ease both
		.modal__box
			animation scaleFadeOut .2s ease both


	.modal__back
		cover(absolute)
		background $gray
		opacity .25

	.modal__front
		position relative
		height 100%
		display table-cell
		vertical-align middle
		padding $global-sep * 2

	.modal__box
		padding 30px
		border-radius $rad * 2
		background white
		max-width 500px
		margin 0 auto
		position relative
		z-index 2
		position relative
		max-height 100%
		overflow auto

	.modal__content

		.modal__title
			margin-bottom 10px

		.modal__message
			&:last-child
				margin-bottom 0

		img
			margin 0

	.modal__close
		position absolute
		top 0
		right 0
		padding 10px 15px
		opacity .5
		&:hover
			cursor pointer

