
$nav-direct-item-width = 75px

body.body--fullscreen
	nav.nav--direct
		@media $break-md-i
			transform translate(0,100%)
	
nav.nav--direct
	position fixed
	bottom 0
	left 0
	width 100%
	background $white
	box-shadow $shadowi
	color $dark
	z-index $z-index-footer
	padding 0 10px
	transition .5s ease
	white-space nowrap
	overflow auto
	@media $break-lg
		display none
	
	&.nav--collapsed
		background red

	.nav__bar
		div
			height 2px
			width $nav-direct-item-width
			left 0%
			background $color
			transition .25s ease
			position relative
		&.nav__bar--2 div
			left ($nav-direct-item-width+3)*1
		&.nav__bar--3 div
			left ($nav-direct-item-width+3)*2
		&.nav__bar--4 div
			left ($nav-direct-item-width+3)*3
		&.nav__bar--5 div
			left ($nav-direct-item-width+3)*4
		&.nav__bar--6 div
			left ($nav-direct-item-width+3)*5
		&.nav__bar--7 div
			left ($nav-direct-item-width+3)*6
		&.nav__bar--8 div
			left ($nav-direct-item-width+3)*7
	
	.nav__notification
		position absolute
		top 10px
		right 25px
		width 6px
		height @width
		border-radius @width
		background $red

	ul
		margin 0
		li
			display inline-block
			width $nav-direct-item-width
			text-align center
			line-height 10px
			vertical-align top
			&:last-child
				margin-right 10px
			a
				display block
				font-size 10px
				padding 10px 5px
				position relative
				color $gray
				white-space normal
				display inline-block
				&.current
					.fal
						color $blue
				.fal
					font-size 18px
					display block
					margin-bottom 5px
					


