
nav.nav--usermenu
	cover(fixed)
	z-index $z-index-nav
	&.ng-enter
		animation fadeIn .25s ease
	&.ng-leave
		animation fadeOut .25s .1s ease both
		.nav__front
			animation slideRightOut .25s ease both
	
	.nav__back
		cover(absolute)
		background $gray
		opacity .25
		
	.nav__front
		background white
		position absolute
		top 0
		right 0
		//text-align center
		background white
		box-shadow $shadow, $shadow
		width 310px
		height 100%
		animation slideLeft .25s .1s ease backwards
		overflow auto
		@media $break-md
			width 360px

	.nav__wrap
		padding 30px
	
	.nav__close
		position absolute
		top 10px
		right 10px
		opacity .4
		cursor pointer
		padding 15px 20px
	
	.nav__title
		font-weight bold
		margin-bottom 15px

	.nav__avatar
		circle 100px
		background $lighter
		margin 0 0 10px

	.nav__info
		//margin-bottom 10px
		strong, span
			display block

	.nav__links
		ul
			list-style-type none
			margin 0
			a
				display block
				padding 10px 0
				color $gray
			.fal
				float right
				padding 3px 0

	.nav__group
		border-bottom 1px solid $lighter
		padding 20px 0
		&:first-child
			padding-top 0
		&:last-child
			border-bottom 0
			padding-bottom 0
		&.nav__group--companies
			text-align left

	.nav__companies
		margin-bottom 20px
		//border 1px solid $light
		border-radius $rad

	.nav__company
		padding 10px 15px 10px 40px
		position relative
		//border-bottom 1px solid $light
		border 1px solid $lighter
		margin-bottom 5px
		cursor pointer
		tap 0
		border-radius $rad
		transition .25s ease
		&:last-child
			margin-bottom 0

		.nav__company__check
			position absolute
			left 10px
			top 10px
			float left
			circle 20px, 1px
			background white
			border 1px solid $lighter
			color $color
			font-size 10px
			transition .25s ease
			.fa
				transition .25s ease
				vertical-align middle
				color white

		.nav__company__rut
			display block
			color $gray
			font-size $global-size-xxs

		&.nav__company--selected
			background white
			.nav__company__check
				background $color
				border-color $color




