

.progresssimple
	background $light
	border-radius $rad
	.progresssimple__bar
		min-height 4px
		background $color
		transition 1s ease
		border-radius $rad
		color white
		





.progress
	position relative
	padding 14px 0 26px
	margin 20px 50px 0
	@media $break-md
		max-width 550px
		margin 30px auto

	.progress__bar
		background $lighter
		.progress__bar__completed
			height 4px
			background $color
			transition 1s ease

	.progress__step
		width 50px
		margin-left -25px
		position absolute
		top 0
		left 50%
		font-size 80%
		text-align center
		
		.progress__step__circle
			circle 30px
			background $lighter
			color $gray
			margin 0 auto
			transition .25s .25s ease
			span
				vertical-align middle
				&.fa-circle
					margin-top -1px
					font-size 60%
		
		&.progress__step--ready
			.progress__step__circle
				animation bounce .5s ease backwards
				background $color
				color white

		&:first-child
			left 0
			
		&:last-child
			left 100%
			


