

$progress_item_width = 30px

.sbs
	position relative

	.sbs__progress
		margin 0 0 20px

		.sbs__progress__start
			float left

		.sbs__progress__groups
			overflow hidden
			padding-right 5px // Sorry mom :(

			.sbs__progress__group
				float left
				width 50%
		
		.sbs__progress__point
			float right
			width $progress_item_width
			text-align center

			.sbs__progress__point__icon
				circle 30px
				background $lighter
				color $gray
				margin 0 auto
				transition .25s .25s ease
				font-size 80%
				span
					animation slideFadeUp .5s ease backwards
					vertical-align middle
					&.fa-circle
						margin-top -1px
						font-size 60%				
					&.fa-check
						display none

			.sbs__progress__point__name
				font-size 70%
				width 50px
				position relative
				left 50%
				margin-left (@width/-2)
				color $gray
			
			&.sbs__progress__point--ready
				.sbs__progress__point__icon
					background $color
					color white
					span.fa-minus
						display none
					span.fa-check
						display inline-block
			
		.sbs__progress__steps
			overflow hidden
			background $lighter
			height 5px
			margin-top 12.5px
			span
				display block
				float left
				height 5px
				background $color
				width 100%
				transition .5s ease
				animation width .5s ease

	.sbs__groups
		position relative

	.sbs__step
		&.ng-enter
			animation fadeIn .5s .5s ease backwards
			cover(absolute)
		&.ng-leave
			animation fadeOut .2s ease both
		&>*
			animation slideFadeUp .5s ease backwards
			animation-stagger 5, .1s
		&.sbs__step--last
			padding 40px 0
			text-align center
			.btn
				margin-top 60px
			ul
				text-align left
				li
					margin-bottom 5px
