
.scopebar
	border-radius $rad
	text-align center
	color $gray
	display flex

	.scopebar__option
		padding 10px 0
		cursor pointer
		border 1px solid $light
		position relative
		transition .25s ease
		tap 0
		text-align center

		&:first-child
			border-radius $rad 0 0 $rad
			margin-left 0

		&:last-child
			border-radius 0 $rad $rad 0
			margin-right 0

		&.scopebar__option--selected
			color $color
			border-color $color
			z-index 2

