
#sections
	position relative
	overflow hidden
	//min-height 400px
	animation fadeIn .5s ease

section
	position relative
	&.ng-enter
		animation fadeIn .5s ease

	//&:nth-child(even)
	//	background rgba(0,0,0,.15)

	.section__wrap
		position relative
		max-width $limit
		margin 0 auto
		padding ($global-sep*2) $global-sep*2
		@media $break-md
			padding ($global-sep*4) $global-sep*2
		&.section__wrap--md
			max-width $limit - 440
		&.section__wrap--sm
			max-width $limit - 640

		&>*
			animation slideFadeUp .5s ease backwards
			animation-stagger 10, .05s, .1s


	.section__header
		text-align center
		padding 20px 0
		margin-bottom 30px
		&>*:last-child
			margin-bottom 0

	.section__stepnumber
		opacity .5
		float right
		font-size $global-size-xs
		
	.section__icon
		font-size 25px
		circle 60px
		background $lighter
		color $gray
		.fa
			vertical-align middle



	.section__description
		font-weight 300
		opacity .8
		font-size $global-size-md
		line-height $global-lh-md
		@media $break-md
			font-size $global-size-lg

	.section__buttons
		max-width 300px

	.section__scroll
		overflow auto
		white-space nowrap
		padding 15px
		margin -15px
		@media $break-md
			white-space normal
	
	.section__list
		list-style-type none
		margin-left 0
		li
			padding 10px 0
			border-top 1px solid $lighter
			&:last-child
				border-bottom 1px solid $lighter
			strong
				font-size $global-size-xxs
				letter-spacing 0.5px
				font-weight normal
				color $gray
				text-transform uppercase
				display block
	



	.section__searchform
		position relative
		input
			margin-bottom 10px
			padding-left 40px
		.fa, .fal
			position absolute
			top 0
			left 0
			padding 15px
			color $gray


	.section__search
		position relative
		@media $break-md
			max-width $limit - 400
			margin 0 auto 40px
		
		.section__search__input
			overflow hidden
			input
				padding-left 40px
				margin-bottom 10px

		.section__search__filter
			float right
			margin-left 10px
			border 1px solid $light
			padding 10px 15px
			border-radius 30px
			cursor pointer
			color $gray
			@media $break-md
				display none
			.fal
				margin-right 5px

		.section__search__icon
			position absolute
			top 0
			left 0
			padding 11px 15px
			color $gray
	

	.section__form
		margin-bottom 30px
		&>*
			margin-bottom 10px

	
	.section__links
		text-align left
		ul
			list-style-type none
			margin-left 0
			li
				padding 10px 0
				border-top 1px solid $lighter
				&:first-child
					border-top 0
				a
					color $gray
					display block
					margin -10px 0
					padding 15px 0
					.fal
						margin-right 5px
						&.fa-exclamation-circle
							color #FFAA00
						&.fa-angle-right
							float right
							padding 5px
							margin-left 5px
							margin-right 0
							opacity .5
					&:hover
						opacity 1
						color $color

	.section__link
		padding 20px 0
		text-align center
		a
			color $gray

	.section__info
		p
			margin-bottom 5px
	
	.section__items
		text-align center
		p
			margin-bottom 0
		.fal
			font-size 20px
			padding 5px 0
			&.fa-check
				color $color
		.section__item
			border 1px solid $lighter
			padding 10px 0
			font-size $global-size-sm
			border-radius $rad
		
	.section__time
		background $lighter
		border-radius $rad
		padding 10px 15px
		margin-top 15px

	.section__group
		border-bottom 1px solid $lighter
		padding-bottom 20px
		margin-bottom 20px
		p:last-child
			margin-bottom 0
		&:last-child
			border-bottom 0
			padding-bottom 0

	
	.section__tabs
		ul
			margin-left 0
			li
				display inline-block
				padding 10px 0
				position relative
				margin-right 10px
				text-transform uppercase
				transition .5s ease
				cursor pointer
				a
					color $gray
				&:after
					content ""
					position absolute
					left 0
					bottom 0
					width 0%
					height 2px
					background $color
					transition .25s ease
				&.current
					a
						color $color
					&:after
						width 100%
	
	.section__logo
		max-width 180px
		//margin 0 auto 20px
	
	.section__footer
		margin-top 20px
		&.section__footer--fixed
			@media $break-md-i
				position fixed
				bottom 0
				left 0
				width 100%
				background white
				padding 10px 15px
				box-shadow $shadowi
				animation slideUp .5s .5s ease backwards
				z-index $z-index-nav
			.btn
				margin-bottom 0
	
	.section__avatar
		width 100px
		height @width
		line-height @width - 20
		padding 10px
		margin 0 auto 20px
		background white
		border-radius $rad
		box-shadow $shadow
		img
			display inline-block
			vertical-align middle
			opacity .25
	
	.section__articles
		article 
			animation slideFadeUp .5s ease backwards
			animation-stagger 10, .05s

	.section__progress
		margin-bottom 20px
		em
			display block
			color $gray
			margin-bottom 5px
			font-size $global-size-xs
		.progress
			border-radius $rad
			.progress__bar
				border-radius $rad

	//.section__filters
		
	.section__box
		border 1px solid $lighter
		padding 20px
		margin-bottom 20px
		border-radius $rad
		.section__list
			li:first-child
				border-top 0
				padding-top 0
			li:last-child
				padding-bottom 0
				border-bottom 0


	.section__location
		color $gray

	.section__hability
		display inline-block
		border-radius $rad
		font-weight bold
		font-size $global-size-sm
		span
			vertical-align -6px
			background $lighter
			color $color
			circle 22px
			font-size 80%
			display inline-block
			margin-right 2px
	


	.section__features
		//overflow hidden
		margin-bottom 40px
		position relative
		text-align center
		.section__feature
			padding 20px
			border-radius $rad
			//border 1px solid $lighter
			box-shadow $shadow2
			padding-top 20px
			height 100px
			border 1px solid rgba($color,10%)
			@media $break-md
				height auto
			.section__feature__value
				font-size $title-h4
				font-weight 300
				margin-bottom 5px
			a
				font-size $global-size-xs
				line-height 18px
				display block
				&:after
					content ""
					cover(absolute)
	

	.section__stamps
		.section__stamp
			width 70px
			display inline-block
			vertical-align top
			line-height 100%
			text-align center
			margin-bottom 20px
			margin-right 5px
			font-size $global-size-xxs
			&:last-child
				margin-right 0
			img
				max-height 50px
				margin-bottom 5px


	.section__chart
		margin 40px 0
	
	.section__rating
		color $color
		
	.section__donnut
		margin-bottom 40px
		text-align center
	

	.section__results

		.section__results__filter
			float right
			@media $break-md
				display none

		.section__results__text
			padding 10px 0
			margin-bottom 20px
			color $gray
			font-size $global-size-sm
			@media $break-md
				padding 0
				margin-bottom 5px



	&.section--main	
		padding 40px 0

	&.section--center
		text-align center

		.section__buttons
			margin-left auto
			margin-right auto
		
		.section__icon
			margin-left auto 
			margin-right auto

	&.section--white
		background white


	&.section--notifications
		.section__labels
			label
				display block
				padding 10px 0
				&:last-child
					border-bottom 0

