
.selector
	position relative
	cursor pointer
	tap 0
	margin-bottom 10px
	&:last-child
		margin-bottom 0

	.selector__bg
		position fixed
		top 0
		left 0
		width 100%
		height 100%
		background $gray
		opacity .25
		//z-index 2
		&.ng-enter
			animation fadeIn .25s ease
		&.ng-leave
			animation fadeOut .25s ease both

	.selector__value
		border 1px solid $light
		padding 10px 40px 10px 15px
		min-height 44px
		background white
		border-radius $rad
		transition .5s ease
		position relative

	.selector__icon
		position absolute
		top 0
		right 0
		padding 12px 15px
		font-size 140%
		color $gray

	.selector__options
		position absolute
		//margin-top -1px
		top 100%
		width 100%
		left 0
		padding 10px 0
		background white
		box-shadow $shadow2
		z-index $z-index-select
		//border 1px solid $lighter
		border-radius $rad
		max-height 300px
		overflow auto
		&.ng-enter
			animation fadeIn .25s ease
		&.ng-leave
			animation fadeOut .25s ease both

		.selector__option
			padding 10px 20px
			border-bottom 1px solid $lighter
			&:last-child
				border-bottom 0
			&:hover
				background lighten($lighter,50%)

	&.selector--oppened
		z-index $z-index-select
		.selector__value
			border-color $color
			box-shadow 0 0 5px rgba($color,50%)


