
.tags
	border 1px solid $light
	background white
	border-radius $rad
	padding 15px
	.tag-list
		list-style-type none
		margin 0
		.tag-item
			background white
			padding 5px 10px
			border-radius 20px
			margin-right 5px
			margin-bottom 5px
			display inline-block
			border 1px solid $light
			a
				color $gray
	input
		transition 0s
		padding 0
		border 0
		box-shadow none
