/*
.views
	cover(absolute)
	overflow hidden

.view
	//cover(absolute)
	//overflow auto
	padding-top $header-height
	padding-bottom 60px
	background $global-bg
	z-index $z-index-view + 1
	@media $break-md
		padding-top $header-height-md


	&.ng-leave
		cover(absolute)
		//animation fadeOut .2s .5s ease backwards
		animation slideLeftOutMiddle .25s ease both
		z-index $z-index-view - 1
		@media $break-md
			animation-duration .5s

		&.view--backing
			animation slideRightOut .25s ease both
			z-index $z-index-view + 1
			//@media $break-md
			//	animation-name fadeOut
			@media $break-md
				animation-duration .5s


	&.ng-enter
		cover(absolute)
		animation slideLeft .25s ease both
		z-index $z-index-view + 1
		//@media $break-md
		//	animation-name fadeIn
		@media $break-md
			animation-duration .5s

		&.view--backing
			//animation fadeIn .2s ease
			animation slideRightMiddle .25s ease both
			z-index $z-index-view - 1
			@media $break-md
				animation-duration .5s
*/

.view
	position relative
	padding-top $header-height
	//padding-bottom 60px
	background $global-bg
	//z-index $z-index-view + 1
	//cover(absolute)
	//overflow auto
	transition .5s ease
	@media $break-md
		padding-top $header-height-md


	&.ng-leave
		cover(absolute)
		background red
		animation fadeOut .25s ease both
		z-index $z-index-view - 1
		display none
		&.view--backing
			z-index $z-index-view + 1


	&.ng-enter
		cover(absolute)
		overflow hidden
		animation fadeIn .25s .25s ease backwards


	&.view--fullscreen
		
		@media $break-md-i
			//z-index $z-index-view-fs
			padding-top 0
			//padding-bottom 0
			//min-height 720px
			/*
			&.ng-enter
				animation-name slideLeft
			&.ng-leave
				&.view--backing
					animation-name slideLeftOut
			*/

	.view__close
		position absolute
		top 5px
		right 5px
		circle 30px
		background $lighter
		color $color
		z-index $z-index-view
		animation fadeIn .5s ease
		cursor pointer
		@media $break-md
			top 100px
			right 10px
		//	display none


	.view__back
		position fixed
		top 0
		left 0
		padding 25px 20px
		z-index $z-index-header + 1
		color $gray
		animation fadeIn .5s ease
		.fa
			margin-right 2px
		@media $break-md
			display none


