
article.article--entry
	.article__like(ng-click="like()" ng-class="{'article__like--liked': data.liked}"): span.fal.fa-bookmark
	h3.h5.article__title {{data.title}}
	.article__location <span class="fal fa-map-marker"></span> Santiago
	.article__date Publicado hace 3 días
	.article__btn
		a(ui-sref="pages.entry({id:123})").btn.btn--bordercolor.btn--xs.btn--cover Ver licitación
