
article.article--supplier
	h4.article__title {{data.nombre}}
	p.article__rut {{data.rut}}
	.article__hability
		span.fas.fa-check
		|  Proveedor habilitado
	.article__location <span class="fal fa-map-marker"></span> Santiago
	.article__buttons
		a(ui-sref="pages.supplier({id:data.id})").btn.btn--bordercolor.btn--cover Ver ficha
