.chart
	.chart__rows
		.chart__row(ng-repeat="val in axis") ${{val | number}}
	.chart__cols
		.chart__col(ng-repeat="val in values track by $index" style="left:{{$index*100/(values.length-1)}}%;")
			.chart__bar(style="height:{{val*100/maxCeiled}}%;")
				.chart__tooltip ${{val | number}}
	.chart__labels
		.chart__label(ng-repeat="label in labels" style="left:{{$index*100/(labels.length-1)}}%;") {{label}}
