
.form__element(class="form__element--{{element.type}} form__element--{{element.variant}}")

	.form__element__title {{element.label}}
		span.form__element__required(ng-if="element.required")  *

	.form__element__input

		input(
			type="text"
			ng-model="form.data[element.name]"
			ng-change="form.validate(element)"
			ng-if="element.type=='text'"
			ng-disabled="element.disabled"
			autocomplete="off"
			placeholder="{{element.placeholder}}"
		)

		input(
			type="email"
			ng-model="form.data[element.name]"
			ng-change="form.validate(element)"
			ng-if="element.type=='email'"
			ng-disabled="element.disabled"
			autocomplete="off"
			placeholder="{{element.placeholder}}"
		)

		label.form__element__password(ng-if="element.type=='password'")
			div(ng-if="!showPassword.show")
				input(
					type="password"
					ng-model="form.data[element.name]"
					ng-change="form.validate(element)"
					ng-disabled="element.disabled"
					autocomplete="off"
				)
			div(ng-if="showPassword.show")
				input(
					type="text"
					ng-model="form.data[element.name]"
					ng-change="form.validate(element)"
					ng-disabled="element.disabled"
					autocomplete="off"
				)
			.form__element__eye(ng-click="showPassword.toggle()")
				span.fa.fa-eye(ng-if="!showPassword.show")
				span.fa.fa-eye-slash(ng-if="showPassword.show")

		input(
			type="number"
			ng-model="form.data[element.name]"
			ng-change="form.validate(element)"
			ng-if=" element.type=='number'"
			ng-disabled="element.disabled"
			min="{{element.min}}"
			max="{{element.max}}"
			maxlength="{{element.maxlength}}"
			step="{{element.step}}"
			placeholder="{{element.placeholder}}"
		)

		.form__element__prefix(ng-if="element.type=='phone'") +569

		input(
			type="number"
			ng-model="form.data[element.name]"
			ng-change="form.validate(element)"
			ng-if="element.type=='phone'"
			ng-disabled="element.disabled"
			maxlength="8"
			max="99999999"
			placeholder="{{element.placeholder}}"
		)

		input(
			type="text"
			ng-model="form.data[element.name]"
			ng-change="form.validate(element);formatRut()"
			ng-if="element.type=='rut'"
			ng-disabled="element.disabled"
			autocomplete="off"
			placeholder="{{element.placeholder}}"
			maxlength="12"
		)

		.form__element.form__element--tags(ng-if="element.type=='tags'")
			tags-input(ng-model="form.data[element.name]" max-tags="3")

		.form__element__file(ng-if="element.type=='file' && !form.data[element.name]")

			input(
				type="file"
				ng-model="form.data[element.name]"
				ng-change="form.validate(element)"
				ng-if="form.getOS()=='unknown'"
				ng-disabled="element.disabled"
				accept="image/*"
				capture="capture"
				file
			)

			input(
				type="file"
				ng-model="form.data[element.name]"
				ng-change="form.validate(element)"
				ng-if="form.getOS()=='android'"
				ng-disabled="element.disabled"
				capture="capture"
				file
			)

			input(
				type="file"
				ng-model="form.data[element.name]"
				ng-change="form.validate(element)"
				ng-if="form.getOS()=='ios'"
				ng-disabled="element.disabled"
				accept="image/*"
				file
			)

			.form__element__file__input
				.btn.btn--border.btn--block
					span.fa.fa-camera
					|  Seleccionar

			//.form__element__input__capture(ng-if="ENV=='cordova'")
				.btn.btn--border.btn--block(ng-click="webcam.capture()")
					span.fa.fa-camera
					|  Foto



		.form__file(ng-if="element.type=='file' && form.data[element.name]")
			//pre form__file__preview--{{form.data[element.name].orientation}}
			.form__file__preview(class="form__file__preview--{{form.data[element.name].orientation}}")
				img(ng-src="{{form.data[element.name].base64}}" ng-if="form.data[element.name].base64")
				img(ng-src="https://res.cloudinary.com/xxxxxxx/image/upload/w_200,h_200,c_fill,g_face/{{form.data[element.name].url}}" ng-if="form.data[element.name].url")
			.form__file__remove(ng-click="removeFile()")
				span.fa.fa-trash

		//pre(ng-if="element.type=='file'") {{form.data[element.name] | json}}

		select(
			ng-model="form.data[element.name]"
			ng-change="form.validate(element)"
			ng-if="element.type=='select' || element.type=='feeder'"
			ng-disabled="element.disabled"
		)
			option(ng-repeat="opt in element.options" ng-value="opt.value") {{opt.text}}

		textarea(
			ng-model="form.data[element.name]"
			ng-change="form.validate(element)"
			ng-if="element.type=='textarea'"
			ng-disabled="element.disabled"
			maxlength="{{element.maxlength}}"
			placeholder="{{element.placeholder}}"
		)
		.form__element__counter(ng-if="element.type=='textarea' && element.maxlength") {{element.maxlength - form.data[element.name].length}}

		label.form__element__label(
			ng-repeat="opt in element.options track by $index"
			ng-if="element.type=='radio'"
			ng-class="{'label--disabled': element.disabled}"
		)
			input(
				type="radio"
				ng-model="form.data[element.name]"
				ng-value="opt.value"
				ng-disabled="element.disabled"
			)
			|  {{opt.text}}

		label.form__element__label(
			ng-repeat="opt in element.options track by $index"
			ng-if="element.type=='checkbox'"
			ng-class="{'label--disabled': element.disabled}"
		)
			input(
				type="checkbox"
				ng-model="form.data[element.name][$index]"
				ng-value="opt.value"
				ng-true-value="{{opt.value}}"
				ng-false-value="null"
				ng-disabled="element.disabled"
			)
			|  {{opt.text}}


		label.form__element__label(ng-if="element.type=='terms'")
			input(
				type="checkbox"
				ng-model="form.data[element.name]"
				ng-value="opt.value"
				ng-true-value="1"
				ng-false-value="0"
			)
			|  Acepto los <a ng-click="openModal(element.modalB)">términos y condiciones</a>



		.form__element__code(ng-if="element.type=='code'" ng-init="form.data[element.name]=[]")
			input(type="number" ng-model="form.data[element.name][0]" maxlength="1" max="9" movefocus)
			input(type="number" ng-model="form.data[element.name][1]" maxlength="1" max="9" movefocus)
			input(type="number" ng-model="form.data[element.name][2]" maxlength="1" max="9" movefocus)
			input(type="number" ng-model="form.data[element.name][3]" maxlength="1" max="9" movefocus)


		.form__element__datepicker(ng-if="element.type=='date'" ng-class="{'form__element__datepicker--opened': datepicker.show, 'form__element__datepicker--range': element.range}")
			.form__element__datepicker__bg(ng-click="datepicker.close()" ng-if="datepicker.show")
			.form__element__prefix(ng-if="element.range && element.before") Desde
			.form__element__prefix(ng-if="element.range && element.after") Hasta
			.form__element__datepicker__input(ng-click="datepicker.toggle()") {{form.data[element.name] | moment: 'format': 'DD/MM/YYYY'}}
			.form__element__datepicker__mighty(ng-if="datepicker.show")

				mighty-datepicker(
					ng-model="form.data[element.name]"
					options="element.options"
					ng-if="!element.range"
					)

				mighty-datepicker(
					ng-model="form.data[element.name]"
					options="element.options"
					range-from="true"
					before="form.data[element.before]"
					ng-if="element.range && element.before"
					)

				mighty-datepicker(
					ng-model="form.data[element.name]"
					options="element.options"
					range-to="true"
					after="form.data[element.after]"
					ng-if="element.range && element.after"
				)


	.form__element__description {{element.description}}

	.form__element__explain(ng-if="element.modal" ng-click="openModal(element.modal)")
		span.fa.fa-info-circle
		|  {{element.explain}}

	.form__element__validation(ng-if="element.valid==false") {{element.message}}


