
form.form(ng-submit="form.submit()")

	form-element(
		ng-repeat="element in form.options"
		ng-if="showElement(element)"
		element="element"
		form="form")

	.form__message(ng-if="form.message && !form.success") {{form.message}}

	.form__element

		.form__submit
			button.btn.btn--md.btn--block(ng-disabled="form.loading || form.success") {{form.submitname}} 
				span.fal.fa-angle-right

		.form__loader(ng-if="form.loading")
			loader

		.form__success(ng-if="form.success"): span.fa.fa-check

	//pre {{form.data | json}}
