
nav.nav--usermenu(ng-if="usermenu.show")
	.nav__back(ng-click="usermenu.close()")
	.nav__front
		.nav__wrap
			.nav__close(ng-click="usermenu.close()"): span.fal.fa-times
			.nav__avatar RA
			.nav__info
				strong 16.659.192-0
				span rodrigo@alvarez@gmail.com
				span +56 923 321 12
			.nav__links
				ul
					li: a(ui-sref="pages.form({form:'update-email'})" ng-click="usermenu.close()") Modificar email <span class="fal fa-angle-right"></span>
					li: a(ui-sref="pages.form({form:'update-phone'})" ng-click="usermenu.close()") Modificar teléfono <span class="fal fa-angle-right"></span>
					li: a(ui-sref="pages.form({form:'update-password'})" ng-click="usermenu.close()") Modificar contraseña <span class="fal fa-angle-right"></span>
