
.scopebar
	.scopebar__option(
		ng-repeat="opt in options | limitTo: 4"
		ng-click="scopebar.select(opt)"
		ng-class="{'scopebar__option--selected': opt.id==value}"
		style="width:{{100/options.length}}%;"
		) {{opt.name}}

