
.selector(ng-class="{'selector--oppened': selector.oppened}")
	.selector__bg(ng-click="selector.toggle()" ng-if="selector.oppened")
	.selector__value(ng-click="selector.toggle()") {{selector.getName(value)}}
	.selector__icon(ng-click="selector.toggle()"): span.fal.fa-angle-down
	.selector__options(ng-if="selector.oppened")
		.selector__option(ng-repeat='opt in options' ng-click="selector.select(opt)") {{opt.name}}
