
// Fade

@keyframes fadeIn
	0%
		opacity 0

@keyframes fadeOut
	100%
		opacity 0


// Slide Up

@keyframes slideUp
	0%
		transform translateY(100%)

@keyframes slideFadeUp
	0%
		transform translateY(40px)
		opacity 0

@keyframes slideUpOut
	0%
		transform translateY(0%)
		opacity 1
	100%
		opacity 0
		transform translateY(100%)


// Slide Down

@keyframes slideDown
	0%
		transform translateY(-300%)
@keyframes slideFadeDown
	0%
		transform translateY(-20px)
		opacity 0
@keyframes slideDownOut
	100%
		transform translateY(100%)


// Slide Left

@keyframes slideLeft
	0%
		transform translateX(100%)


@keyframes slideFadeLeft
	0%
		transform translateX(40px)
		opacity 0

@keyframes slideLeftOut
	100%
		transform translateX(-100%)

@keyframes slideFadeLeftOut
	100%
		transform translateX(-40px)
		opacity 0

@keyframes slideLeftMiddle
	0%
		transform translateX(20%)

@keyframes slideLeftOutMiddle
	100%
		transform translateX(-20%)


// Slide Right

@keyframes slideRight
	0%
		transform translateX(-100%)


@keyframes slideFadeRight
	0%
		transform translateX(-40px)
		opacity 0

@keyframes slideRightOut
	100%
		transform translateX(100%)

@keyframes slideFadeRightOut
	100%
		transform translateX(40px)
		opacity 0

@keyframes slideRightMiddle
	0%
		transform translateX(-20%)

@keyframes slideRightOutMiddle
	100%
		transform translateX(20%)







// Scale

@keyframes scaleIn
	0%
		transform scale(0)

@keyframes scaleIn2
	0%
		transform scale(1.2)

@keyframes scaleFadeIn
	0%
		transform scale(1.2)
		opacity 0

@keyframes scaleOut
	100%
		transform scale(0)

@keyframes scaleFadeOut
	100%
		transform scale(.8)
		opacity 0



// Rotate

@keyframes rotate360
	0%
		transform rotate(-360deg)



@keyframes shake
	0%
		opacity 0
		transform translateX(0px)
	20%
		opacity 1
		transform translateX(-10px)
	40%
		opacity 1
		transform translateX(10px)
	60%
		opacity 1
		transform translateX(-5px)
	80%
		opacity 1
		transform translateX(2px)
	100%
		opacity 1
		transform translateX(0)


@keyframes heightSmIn
	0%
		max-height 0px
		overflow hidden
		padding-top 0
		padding-bottom 0
	100%
		max-height 100px
		overflow hidden

@keyframes heightSmOut
	0%
		max-height 100px
		overflow hidden
	100%
		max-height 0px
		overflow hidden
		padding-top 0
		padding-bottom 0



@keyframes heightMdIn
	0%
		max-height 0px
		overflow hidden
		padding-top 0
		padding-bottom 0
	100%
		max-height 300px
		overflow hidden

@keyframes heightMdOut
	0%
		max-height 300px
		overflow hidden
	100%
		max-height 0px
		overflow hidden
		padding-top 0
		padding-bottom 0




@keyframes bounce
	50%
		transform scale(1.5)



@keyframes width
	0%
		width 0





