

.content
	animation fadeIn 1s ease
	&>*
		animation slideFadeUp .5s ease backwards
		animation-stagger 10, .1s

	h1, h2, h3, h4,	p, ol, ul, table, blockquote, pre, iframe
		margin-bottom 15px
		&:last-child
			margin-bottom 0

	h1, h2, h3, h4, h5
		padding-top 10px
		&:first-child
			padding-top 0

	ol
		list-style-type decimal
		margin-left 20px

	ul
		margin-left 0
		li
			padding-left 25px
			margin-bottom 10px
			position relative
			&:before
				content "\f00c"
				font-family "FontAwesome"
				position absolute
				top 0
				left 0
				color color


	blockquote
		padding 10px sep
		padding-left 40px
		border-left 2px solid color
		font-size 1.2em
		line-height 1.5em
		font-style italic
		position relative
		&:before
			content "\f10d"
			font-family "FontAwesome"
			position absolute
			top 0
			left 10px
			opacity .5
			display inline-block
			padding-right 2px

	pre
		background rgba(0,0,0,.05)
		padding 10px sep
		overflow auto


	// Wordpress alignment

	img
		&.alignright
			@media $break-sm
				float right
				margin-left 20px
		&.alignleft
			@media $break-sm
				float left
				margin-right 20px
		&.aligncenter
			margin 0 auto


	iframe
		width 100%
		max-width 100%
		display block
		height 200px
		background lighter
		@media $break-sm
			height 300px
		@media $break-md
			height 400px

	a
		text-decoration none
		&:hover:not(.btn)
			text-decoration underline


