
// Reset

*
	margin 0
	padding 0
	border 0
	outline 0
	box-sizing border-box
//	user-select none
//	tap 0


// Base styles

html
	background-color $global-bg
	//filter grayscale(1)

body
	background-color $global-bg
	-webkit-font-smoothing antialiased

body, button, input, textarea, select
	font-family $font
	color $global-color
	font-size $global-size
	line-height $global-lh

a, button, input, textarea, select
	transition .25s ease
	background-color transparent

a
	color $color
	text-decoration none
	&.a--gray
		color $gray
		&:hover
			color $color
	&.a--classic
		text-decoration underline
	&:hover
		cursor pointer

button
select
label
input[type='checkbox']
input[type='radio']
	&:hover
		cursor pointer

h1, h2, h3, .h1, .h2, .h3
	font-weight 300

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5
	font-family $font-title
	//text-transform uppercase
	margin-bottom $global-sep

p
	margin-bottom $global-sep

h1
.h1
	title h1

h2
.h2
	title h2

h3
.h3
	title h3

h4
.h4
	title h4
	font-weight bold

h5
.h5
	title h5
	font-weight bold

ul
ol
	margin-bottom $global-sep
	margin-left 20px
	//list-style-type none

img
	display block
	width auto
	height auto
	max-width 100%
	margin 0 auto

svg
	display block
	max-width 100%

table
	width 100%

canvas
	width 100%

hr
	border-top 1px solid $lighter
	margin 30px 0