
// Bootstrap gid

// Col styles
make-grid-columns()

// Cols container tradicional de Bootstrap
.row
	make-row()

// Cols container modificado
// - Soporte para gutter bottom.
// - Clases para gutter x0 y gutter x2.
.cols
	make-row()
	&>div
		margin-bottom $grid-gutter-width
	&:last-child
		margin-bottom ($grid-gutter-width*-1)
	
	&.cols--g-0
		make-row(0)
		&>div
			padding-left 0
			padding-right 0
			margin-bottom 0
		&:last-child
			margin-bottom 0

	&.cols--g-05
		make-row($grid-gutter-width/2)
		&>div
			padding-left ($grid-gutter-width/4)
			padding-right ($grid-gutter-width/4)
			margin-bottom ($grid-gutter-width/2)
		&:last-child
			margin-bottom ($grid-gutter-width/-2)


	@media $break-md
		&.cols--g-2
			make-row($grid-gutter-width*2)
			&>div
				padding-left $grid-gutter-width
				padding-right $grid-gutter-width
				margin-bottom ($grid-gutter-width*2)
			&:last-child
				margin-bottom ($grid-gutter-width*-2)



// Extra small grid
make-grid(xs)

// Small grid
@media $break-sm
	make-grid(sm)

// Medium grid
@media $break-md
	make-grid(md)

// Large grid
@media $break-lg
	make-grid(lg)






