
// MIXINS

placeholder()
	&::-webkit-input-placeholder
		color arguments
	&::-moz-placeholder
		color arguments
	&:-moz-placeholder
		color arguments
	&:-ms-input-placeholder
		color arguments

overflow()
	overflow arguments
	if arguments == "auto" || arguments == "scroll"
		-webkit-overflow-scrolling touch

tap()
	if arguments == "0"
		-webkit-tap-highlight-color rgba(0,0,0,0)
	else
		-webkit-tap-highlight-color arguments

cover()
	position arguments
	top 0
	left 0
	width 100%
	height 100%


centre(width,height=width)
	position absolute
	top 50%
	left 50%
	width width
	height height
	margin-left (width/-2)
	margin-top (height/-2)


circle(diam,border=0)
	width diam
	height diam
	line-height (diam - border*2)
	text-align center
	border-radius 50%
	overflow hidden


centrecircle(diam,border=0)
	circle diam, border
	position absolute
	top 50%
	left 50%
	margin-left (diam/-2)
	margin-top (diam/-2)


animation-stagger(iterations,delay,add=0)
	for iteration in (1..iterations)
		&:nth-child({iteration})
			animation-delay delay*iteration+add

proportion(w,h)
	padding-bottom ( (h / w) * 100 ) %

title(h)
	if h == "h1"
		font-size $title-h2
		line-height $title-h2-lh
		@media $break-sm
			font-size $title-h1
			line-height $title-h1-lh
	if h == "h2"
		font-size $title-h3
		line-height $title-h3-lh
		@media $break-sm
			font-size $title-h2
			line-height $title-h2-lh
	if h == "h3"
		font-size $title-h4
		line-height $title-h4-lh
		@media $break-sm
			font-size $title-h3
			line-height $title-h3-lh
	if h == "h4"
		font-size $title-h4 - 4
		line-height $title-h4-lh
		@media $break-sm
			font-size $title-h4
			line-height $title-h4-lh
	if h == "h5"
		font-size $title-h5
		line-height $title-h5-lh



triangle(val1,val2,val3)

	if val1 > 0
		width = val1
	if val2 > 0
		width = val2
	if val3 > 0
		width = val3

	if val1 == "left" || val1 == "right" || val1 == "top" || val1 == "bottom"
		direction = val1
	if val2 == "left" || val2 == "right" || val2 == "top" || val2 == "bottom"
		direction = val2
	if val3 == "left" || val3 == "right" || val3 == "top" || val3 == "bottom"
		direction = val3

	if dark(val1) || light(val1) && val1!=direction
		color = val1
	if dark(val2) || light(val2) && val2!=direction
		color = val2
	if dark(val3) || light(val3) && val3!=direction
		color = val3

	&:after
		content ""
		display block
		position absolute
		border width solid transparent
		if direction=="top"
			border-bottom-color color
			bottom 100%
			left 50%
			margin-left width*-1
		if direction=="right"
			border-left-color color
			left 100%
			top 50%
			margin-top width*-1
		if direction=="bottom"
			border-top-color color
			top 100%
			left 50%
			margin-left width*-1
		if direction=="left"
			border-right-color color
			right 100%
			top 50%
			margin-top width*-1


grad-shadow()
	&:after
		content ""
		position absolute
		width 100%
		top 100%
		left 0
		height 10px
		box-shadow 0 0 arguments

grad(color,direction='bottom')

	if direction=='left'
		degs = 90deg
	if direction=='right'
		degs = 270deg
	if direction=='top'
		degs = 180deg
	if direction=='bottom'
		degs = 0deg

	background color
	background -webkit-linear-gradient(degs,color,transparent)
	background -o-linear-gradient(degs,color,transparent)
	background -moz-linear-gradient(degs,color,transparent)
	background linear-gradient(degs,color,transparent)

percentage($n)
	if $n == 0
		0
	else
		unit($n * 100, "%")


text-overflow()
	text-overflow ellipsis
	if arguments == "ellipsis"
		white-space nowrap
		overflow hidden



